body {
  
    padding-bottom: 20px;
    background-color:#F5F5F5;
}
/* lien nav */
.navbar-nav > li > a {
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
    text-decoration:none;
}
    .navbar-nav > li > a:hover {
        background-color: #EEEEEE;
    }
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.jumbotron{
    background-color:black;
    color:orange;
}
.bg-white{
    background-color:white;
}
.logo-small{
    color:orange;
    font-size:50px;
}
.padding30{
    padding:30px;
}
/*section widget*/
.widget-bottom{
    background-color:orange;
    color:white;
}
.widget {
    background-color: white;
    border: 1px solid orange;
    border-radius:5px;
   
}
.widget div{
    padding:15px;
}
.yellow{
    color:orange;
}
/* section pourcentage */

.pourcentage{
    background-color:white;
}

/* section affichage  des formations*/

.info-block {
    background-color: white;
    padding: 15px;
    border: 2px solid #F5F5F5;
    max-height: 230px;
    margin-bottom: 3%;
    margin-top: 3%;
}
/* avis de la formation */
.info-block div{
    font-size:15px;
}
/* note des avis*/
    .info-block p {
        font-size: 15px;
}
/* lien de la formation */

.lien-formation {
    color: orange;
    text-decoration: none;
    font-size: 28px;
}

.lien-formation:hover {
    text-decoration: none;
}

.lien-formation p {
    font-size:30px;
}

/* page détail formation */
.bg-grey{
    background-color:#F5F5F5;
}
.avis{
    border-radius:5px;
    padding:15px;
}
.margin20{
    margin:20px;
}
.big-link{
    font-size:1.5em;
}